body{
    padding: 0;
    margin:0;
    background: linear-gradient(112.1deg, rgb(43, 43, 44) 11.4%, rgb(20, 20, 20) 70.2%);
    height:100%; 
}

h1{
    color:white;
    font-family:Comic Sans MS;
    margin-top: 1rem;
    padding-left: 1.5rem;
    
}
h2{
    color:white;
    font-family:Comic Sans MS;
    margin-top: 1rem;
    margin-left: 4rem;
    color:rgb(244, 140, 140);
    font-size: 28px;
}
.lan{color:rgb(89, 233, 185)}
.hi{
    font-size: 65px;
    font-family:cursive;
}
.hh{
    font-size: 65px;
}
.p{
    margin-left: 4rem;
}
.par{color:white;
    padding:0.5rem;
    font-size: 27px;
    margin-left: 4rem;
}
img{
    float:right;
    height: 660px;
    margin-top: -5rem;   
}
.web{
    color:white;
    margin-left: 4rem;
}
.base{
    color:rgb(164, 157, 157);
    padding: 0;
    font-family: Comic Sans MS;
    font-size: 22px;
}
.block{
    margin-right: 20rem;
    margin-left: 7rem;
}

tr,td{
    padding:0.5rem;
    color:white;
    font-size: 20px;
}
.tbl{
    border: 2px solid white;
    color:white;  
}
th{
    border:1px solid white;
    padding: 1.2rem;
    font-size: x-large;
}
td{
    border:1px solid white;
    font-size:20px;
    padding: 1.2rem;
}

.p1{color:white;
    padding:0.2rem;
    font-size: 25px;
    padding-left: 10rem;
    padding-right: 3rem;
}
.img{
    margin-left: 6.9rem;
}
.img img{
    width: 300px;
    height:200px;
    float:left;
    padding:20px;
    border-radius: 40px;
}
.tr{
    padding:0.5rem;
    font-size: 25px;
    padding-left: 6rem;
    border: none;
}
a{
    text-decoration: none;
    color: white;
}
.f1{    
     margin-left: 6rem;
}
footer{
    color:rgb(1, 1, 1);
    background-color: grey;
    font-size: 25px;
    text-align: center;
    margin-top: 3.5rem;
    padding:1rem 0 1rem 0;
}